

body{
  background:linear-gradient(to top, rgba(46, 3, 43, 0.811), 
  rgba(225, 205, 224, 0.84));
  min-width:500px;   
  max-width: 1000px;
}
h2{
  min-width:500px;
  max-width: 1000px;
  /*margin: 500px;*/
  
    margin-top: 0px;
    margin-bottom: 20px;
  border: 5px solid rgba(23, 23, 22, 0.204);
  padding:30px 0px;
  border-top: 0px;
  text-align: center;
  background-color: rgba(170, 114, 169, 0.481);
  font-size: 20px;
  color:rgb(252, 240, 255);
  /*margin-top:  1%;*/
  
}
.three {
    color:#9e7daea5;
   display:nowrap;
    padding: 30px 38px 66px;
    padding-top:0%;
   margin: 400px;
    margin-top: 50px;
    min-width:500px;   
    max-width: 1000px;
    height: auto;
    background-image: linear-gradient(to bottom, rgba(207, 191, 207, 0.71), 
    rgba(225, 205, 224, 0.84)),url("https://img.51miz.com/Element/00/81/16/73/6be3a32f_E811673_559bed6c.jpg") ;
    border: 5px solid rgba(48, 10, 43, 0.341);
    text-align: center;
    /*background-size:auto;*/
    background-repeat : no-repeat;
   /* font-style: italic;*/
    /*width:auto;*/
    position: relative;
    left: 10%;
}

input{
  margin-bottom: 20px;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    caret-color: #9e7dae; /* 指定色 */
    outline:transparent; /* 外框效果 */
    border-color:transparent;
    border-bottom-color: rgba(48, 29, 51, 0.769);

}
label{
  color:rgba(49, 35, 54, 0.557);
  font-size: 18px;
  padding:10px;
  font-weight: bold;

}
button{
  float: auto;
    color:aliceblue;
    font-size: 15px;
    background-color:rgba(49, 35, 54, 0.557);
    border-radius: 5px;
    padding:8px 12px;
    margin-right: 10px;
    border:none;
}
button:hover{
  opacity: 0.8; 
}
.ca {
    font-size: 16px;
    display: inline-block;
    padding: 10px;
    color: rgba(58, 45, 67, 0.823);
  font-weight: bold;
  text-decoration: underline;
  margin:auto;
}
.ca:hover {
    text-decoration: none;
    margin:auto;
} 

.error{
  background:#F2DEDE;
    color:#A94442;
    padding:10px;
    width:95%;
    border-radius:5px;
    margin:20px auto;
    text-align: center;
}

.success{

  background:#F2DEDE;
  color:#40754C;
  padding: 10px;
  width: 95%;
 /* margin:1000px;
  margin-top: 0%;
  margin-bottom: 0%;*/
  margin:20px auto;
  border-radius:5px;
float: auto; 
 text-align: center;
 position: relative;
left: 30%;

}


.de{
  /*  float: center;*/
    font-size: 15px;
  
    background:rgba(49, 35, 54, 0.557);
    color: aliceblue;
    text-decoration: none;
    border-radius: 5px;
    padding:8px 12px;
    margin-right: 10px;
    border:none;
    margin:10px;
    text-align:center;
    margin:auto;  
    display: inline-block;
    font-weight: bold;
}
.de:hover{
    opacity: 0.8; 
} 
