


body{
    background:linear-gradient(to top, rgba(46, 3, 43, 0.811), 
    rgba(225, 205, 224, 0.84));
    min-width:500px;   
    max-width: 1000px;
  
}

h2{ min-width:500px;
    max-width: 1000px;
    margin: 500px;
    padding:30px 38px;
    border: 5px solid rgba(23, 23, 22, 0.204);
    text-align: center;
    background-color: rgba(170, 114, 169, 0.481);
    font-size: 20px;
    color:rgb(252, 240, 255);
    margin-top:  3%;
    margin-bottom: 0%;
    margin-top: 80px;
    width:auto;

}


.three {
    color:#9e7daea5;
    text-align: center;
    padding: 30px 38px 66px;
    margin: 500px;
    min-width:500px;   
    max-width: 1000px;
    margin-top: 0px;
    height: 200px;
    background-image: linear-gradient(to bottom, rgba(207, 191, 207, 0.71), 
    rgba(225, 205, 224, 0.84)),url("https://img.51miz.com/Element/00/81/16/73/6be3a32f_E811673_559bed6c.jpg") ;
    border: 5px solid rgba(48, 10, 43, 0.341);
    text-align: center;
    background-size:auto;
    background-repeat : no-repeat;
    font-style: italic;
    width:auto;
  
}

/*input[type="text"] {
    margin-bottom: 20px;
    border-bottom-left-radius: 50;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 30px;
    border-top-left-radius: 80;
    border-top-right-radius: 0;
}

input{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    caret-color: #9e7dae; /* 指定色 */
   /* outline:transparent; /* 外框效果 */
   /* border-color:transparent;
    border-bottom-color: rgba(48, 29, 51, 0.769);
}*/
/*label{
    color:rgba(49, 35, 54, 0.557);
    font-size: 18px;
    padding:10px;
    font-weight: bold;

}*/


.error{
    background:#F2DEDE;
    color:#A94442;
    padding:10px;
    width:95%;
    border-radius:5px;
    margin:20px auto;
    text-align: center;
}
.success{
  background:#F2DEDE;
  color:#40754C;
  padding:10px;
  width:95%;
  border-radius:5px;
  margin:20px auto;
  text-align: center;
}
table { 
    border:1px solid #000; 
    font-family: italic; 
    font-size:16px; 
    width:400px;
    border:1px solid #000;
    text-align:center;
    border-collapse:collapse;
    float: auto;
    margin:auto;
    width:auto;
   /* display: inline-block;*/
  } 
  th { 
    background-color: rgba(116, 79, 115, 0.481);
    padding:10px;
    border:1px solid #000;
    color:#fff;
  } 
  td { 
    border:1px solid #000;
    padding:5px;
  } 


/*h1{
    float:right;
    background:#555;
    padding:10px 15px;
    color:#fff;
    border-radius:5px;
    margin-right:10px;
    border:none;
    text-decoration:none;
}

.log{

  color:aliceblue;
  font-size: 18px;
  background-color: #313335;
  border-radius: 5px;
  padding:10px 15px;
  margin-right: 10px;
  border:none;
  font-weight: bold;

}*/
.ca {
	font-size: 16px;
	display: inline-block;
	padding: 10px;

	color: rgba(58, 45, 67, 0.823);
  font-weight: bold;
  text-decoration: underline;
  margin:auto;
}
.ca:hover {
	text-decoration: none;
    margin:auto;
} 

.de{
    /*float: auto;*/
    font-size: 15px;
    display: inline-block;
    background:rgba(49, 35, 54, 0.557);
    color: aliceblue;
    text-decoration: none;
    border-radius: 5px;
    padding:8px 12px;
    margin-right: 10px;
    border:none;
    margin:auto;
    font-style: italic;
}

.de:hover{
    opacity: 0.8; 
}

